shadercache/
exceptions/
gfx/
.launcher-cache/
cache/
Screenshots/
logs/
crashes/
Anbennar/
playlists/
playsets_backup/
pops_filestorage/
pdx_login_cache.txt
launcher-v2.sqlite
continue_game.json
*.sqlite
userdir/save*games/
userdir/backup/
binaries/

*.bin

game/loading_screen/sound/
game/loading_screen/fonts/
game/in_game/gfx
game/in_game/content_source
game/main_menu/gfx
game/main_menu/localization

clausewitz/

userdir/account/PDX/SDK/eu5/account.json

userdir/loading_screen/progress_bar_hints_LoadingScreen_MainMenu.txt
userdir/loading_screen/progress_bar_hints_MainMenu_Game.txt

userdir/loading_screen_history.txt

userdir/news_feed/cached_braze_content_cards.json
userdir/news_feed/startup.json
userdir/loading_screen_history.txt
userdir/messagetypes_custom.txt