shadercache/
exceptions/
gfx/
.launcher-cache/
cache/
Screenshots/
logs/
crashes/
Anbennar/
playlists/
playsets_backup/
pops_filestorage/
pdx_login_cache.txt
launcher-v2.sqlite
continue_game.json
*.sqlite
save\ games/
old_saves/
binaries/

*.bin

game/loading_screen/sound/
game/in_game/gfx
game/in_game/content_source
game/main_menu/gfx

clausewitz/